/*Base applied to everything*/

html{
  background-color: #3EB489;
  /* background-image: linear-gradient(to bottom right, #159957, #155799); */
  background-image: linear-gradient(to bottom right, rgb(151, 31, 125), #155799 );
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rga(0,0,0,0.1);
  height: 100%;
  padding: 5rem;
}


a{
  color: currentcolor;
  cursor: pointer;
  
}



/* Shared */

.wallpaper, .picture-shadow, .picture-image {
  display: block;
  height: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
}

.job, .button {
  font-family: "Montserret", "Quicksand", sans-serif;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.button, .social a {
  transform-origin: center;
  transition-duration: 100ms;
  
}

/* Specific */

.wallpaper {
  background-image: url("../Images/lake3.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  position: fixed;
  z-index: -1;
}

.content {
  display: flex;
  position: relative;
  min-height: 100vh;
}

.side {
  max-height: 20rem;
  max-width: 20rem;
}

.about {
  max-width: 26rem;
}

.picture {
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.picture-shadow {
  border-radius: 99999px;
  background-image: radial-gradient(#000 0%, rgba(0,0,0,0) 70%);
  position: absolute;
  top: 10%;
}

.picture-image {
  border-radius: 99999px;
  position: absolute;
  object-fit: cover;
}

.name {
  font-size: 2.25rem;
  line-height: 1.125;
  margin-bottom: 0.5rem;
}

.job {
  color: #ffe479;
  font-size: 0.75rem;
}

.hr {
  background-color: #ff470f;
  border: none;
  content: "";
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transform-origin: center left;
  width: 4rem;
}

.description {
  font-size: 1.5rem;
}

.contact {
  display: block;
  margin-top: 1.5rem;
  /* vertical-align: top; */
}

.button {
  background-color: #fff;
  border-radius: 99999px;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  color: #3EB489;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 1.25em 2em;
  text-shadow: none;
  transition-property: box-shadow, transform;
  user-select: none;
  vertical-align: top;
  white-space:nowrap;
  will-change: box-shadow, transform;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.2);
  transform: scale(1.02) translatey(-4px);
}

.button:active {
  box-shadow: 0 0.5rem rgba(0,0,0,0.3);
  transform: scale(0.98) translatey(-2p);
}


.social {
  display: flex;
  margin-top: 1.5rem;
}

.social li {
  height: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 2rem;
}

.social a {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  justify-content: center;
  opacity: 0.5;
  transition-property: opacity, transform;
  width: 2rem;
  will-change:opacity, transform;
}

.social a:hover {
  opacity: 1;
  transform: scale(1.25);
  color: #05ffa1;
}

.social a:active {
  opacity: 1;
  transform: scale(1.1);
}


.menu {
     display: flex;
     overflow: hidden;
     /* background-color: #666666; */
     background: transparent;
     opacity: 1;
     position:fixed;
     top:0;
     width:100%;
     z-index: 1;
     /* border-bottom: 1px solid black; 
     box-shadow: 1px 3px #1a1a1a; */
     justify-content: center;
     
  }



  .menu li {
      float: center;
      font-family:  "Quicksand", sans-serif;
      border-right: #000;
  }

.menu a {
      display: block;
      /* color:  #ffe479; */
      text-align: center;
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
      text-decoration: none;
      opacity: 1;
      font-size: 1.5rem;
      letter-spacing: 0.3rem;
      
      color:#fff;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
  }

.menu a:hover{
  /* background-color: #333333; */
  /* color: #3EB489; */
  /* color:  #8023fa; */
  color: #05ffa1;
  text-shadow:0px 0px 30px #05ffa1;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
    
}

.construction ul{
 margin-top: 25%;
}
.construction li{
  text-align: center;
}

.construction h1{
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 5px;
}

.construction h2{
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}


/* .foot{
  margin-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 3rem;
  height: 3rem;
  background-color: black;
  text-align: center;
  word-wrap: break-word;
  
} */



.message{
  color: currentcolor;
  margin-left: 20rem;
  margin-top: 10rem;
  margin-bottom: 19.25rem;
  font-size:1.5rem;
}

 input[type=text] {
 
  border-radius: 15px;
  background-color: #f8f8f8;
  /* margin: 1rem; */
  margin-bottom: 1rem;
  width: 30%;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  box-sizing: border-box;
  font-size: 1.5rem;
   
}
textarea {
    width: 50%;
    height: 200px;
    
    box-sizing: border-box;
    padding: 2.5rem 2rem 2rem 10rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    resize: none;
    font-size: 1.25rem;
    
}

table{
  margin: 3rem 15rem 3rem 5rem;
  padding: 1rem;
  color: black;
 
}

th{
  padding: 1rem;
  text-align: center;
  text-decoration: underline;
}

tbody{
  margin: 1rem;
  padding: 1rem;
  padding-right: 50px;
}

.blogTitle{
  text-align: left;
  padding: 1rem;
  background-color: #333333;
  border-radius: 16px;
  width: 15%;
  margin-top: 5rem;
  color: whitesmoke;
}

.blogContent{
  margin-top: 5rem;
  text-align: left;
  padding: 1rem;
  background-color: #f8f8f8;
  border-radius: 16px;
}


/* Responsive */

@media screen and (max-width: 799px) {
  .content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
    
  }
  
  .side{
    margin-bottom: 3rem;
    width: 100%;
  }
  
}

@media screen and (min-width: 800px){
  .content{
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
    padding: 4rem;
  }
  
  .side{
    flex-grow: 0;
    flex-shrink: 0;
    height: 20rem;
    margin-left: 4rem;
    order: 2;
    width: 20rem;
    
  }
  
  .about{
    flex-grow: 1;
    flex-shrink: 1;
    
  }  
}

/* .left-column{
  
  width: 60rem;
  margin: 15rem 25rem 15rem 25rem;
  padding: 5rem;
  background-color: green;
} */

.project-image{
  /* background-color: #aaa; */
  background-image: url(../Images/water.jpg);
  width: 100%;
  padding: 3rem;
}

/* .project-card{
  
  width: 200px;
  height: 100px;
  padding: 5rem;
  color: blue;
  margin-left: 30rem;
  margin-top: 10rem;
  margin-bottom: 19.25rem;
  font-size:1rem;
  background-color: orange;
  border: solid 3px orange;

} */

.wrapper{
  width: 60rem;
  height: 25%;
  background-color: red;
  position: absolute;
  top: 25%;
  left: 25%;
  margin: 0 auto;
}

.w-child{
  width: 75%;
  height: 25%;
  background-color: green;
  color: #000;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
}





